/* 查询条件 */
.query-criteria-card {
  width: 100%;
}

.query-criteria-card .ant-card-head {
  background-color: #f4f3f3;
  color: #007adb;
}

.query-criteria-card .ant-card-body {
  padding-left: 0;
  padding-right: 0;
}

.query-criteria-card .brand-name-input {
  width: 150px;
}

.brand-confirm-card .ant-card-head {
  background-color: #007adb;
  color: white;
}

.brand-confirm-card .ant-card-body {
  padding: 0;
}

.ant-row {
  width: 100%;
}

.ant-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnArea {
  display: flex;
  justify-content: flex-end;
}

.btn-margin-left {
  margin-left: 5px;
}

.add-btn {
  background-color: #67C23A;
  color: white;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.query-criteria-card .ant-form-item {
  margin-bottom: 0 !important;
}
